<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowUndeclaredRTE" value="true"/>
            <property name="allowMissingParamTags" value="false"/>
            <property name="allowMissingPropertyJavadoc" value="true" />
            <property name="allowMissingJavadoc" value="true" />
        </module>
        <module name="JavadocType">
             <property name="scope" value="public"/>
            <property name="allowMissingParamTags" value="false"/> 
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocStyle">
             <property name="scope" value="public"/>
             <property name="checkFirstSentence" value="false"/>
        </module>
    </module>
</module>
